In [1]:
import pandas as pd
from sqlalchemy import create_engine, Table, Column, String, MetaData

In [2]:
def create_db_engine():
    """
    Creates a SQLAlchemy engine with hardcoded credentials.
    
    Returns:
        engine: An SQLAlchemy Engine instance.
    """
    user = 'root'
    password = '2452002Az)'  # Be cautious with sensitive info in production environments
    host = 'localhost'
    database = 'CapstoneTest'
    url = f'mysql+pymysql://{user}:{password}@{host}/{database}'
    engine = create_engine(url, echo=True)  # Set echo=False in production for less verbosity
    return engine

In [3]:
# Create an engine instance
engine = create_db_engine()

In [20]:
data = pd.read_csv("C:\\Users\\Lenovo\\Desktop\\cleaned_product_data.csv")

In [21]:
data.head()

,Product ID,Product Name,Category
0,C0003751,eimi thermal image heat protection spray,"['Hair Styling', 'Hair Spray']"
1,C0004198,invigo nutri enrich frizz control cream,"['Hair Care', 'Frizzy or Dry & Damaged Hair', ..."
2,C0003733,eimi dry me,"['Hair Care', 'Dry Shampoo']"
3,174347,cosmaline hair and body mist floral fantasy,"['Best Sellers', 'Mist']"
4,174750,soft wave hair lightener spray,"['Hair Care', 'Hair Color', 'Colored or Blonde..."

In [22]:
# Rename DataFrame columns to match the table column names
data.columns = ['product_id', 'product_name', 'product_category']
# Remove duplicates but keep the first occurrence
data = data.drop_duplicates(subset=['product_id'], keep='first')
new_row = pd.DataFrame([{"product_id": "SHIPPING_LOCAL", "product_name": "Product Not Found", "product_category": "[]"}])
data = pd.concat([data, new_row], ignore_index=True)
data.tail()

,product_id,product_name,product_category
631,D0010136,Product Not Found,[]
632,120033,cosmal cure professional hair color cream hone...,['Permanent']
633,120055,cosmal cure professional hair color cream burg...,['Permanent']
634,D0009899,catrice 48h power stay brow gel,['Eyes Beauty']
635,SHIPPING_LOCAL,Product Not Found,[]

In [23]:
# Insert data into the table
data.to_sql('oracle_data_product_name', con=engine, if_exists='append', index=False)

print("Data inserted successfully.")

2024-07-18 15:57:05,704 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-07-18 15:57:05,707 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2024-07-18 15:57:05,709 INFO sqlalchemy.engine.Engine [cached since 1063s ago] {'table_schema': 'capstonetest', 'table_name': 'oracle_data_product_name'}
2024-07-18 15:57:05,717 INFO sqlalchemy.engine.Engine INSERT INTO oracle_data_product_name (product_id, product_name, product_category) VALUES (%(product_id)s, %(product_name)s, %(product_category)s)
2024-07-18 15:57:05,719 INFO sqlalchemy.engine.Engine [generated in 0.00299s] ({'product_id': 'C0003751', 'product_name': 'eimi thermal image heat protection spray', 'product_category': "['Hair Styling', 'Hair Spray']"}, {'product_id': 'C0004198', 'product_name': 'invigo nutri enrich frizz control cream', 'product_category': "['Hair Care', 'Frizzy or Dry & Damaged Hair', 'Frizzy or Dry & Damaged Hair']"}, {'product_id': 'C0003733', 'product_name': 'eimi dry me', 'product_category': "['Hair Care', 'Dry Shampoo']"}, {'product_id': '174347', 'product_name': 'cosmaline hair and body mist floral fantasy', 'product_category': "['Best Sellers', 'Mist']"}, {'product_id': '174750', 'product_name': 'soft wave hair lightener spray', 'product_category': "['Hair Care', 'Hair Color', 'Colored or Blonde or Grey Hair', 'Permanent', 'Colored or Blonde or Grey Hair']"}, {'product_id': '197954', 'product_name': 'cosmaline antiperspirant roll on soft touch', 'product_category': "['Antiperspirant']"}, {'product_id': '174270', 'product_name': 'cosmaline hair and body mist sunset paradise', 'product_category': "['Mist']"}, {'product_id': '174450', 'product_name': 'cosmaline micellar cleansing water', 'product_category': "['Face Care']"}  ... displaying 10 of 636 total bound parameter sets ...  {'product_id': 'D0009899', 'product_name': 'catrice 48h power stay brow gel', 'product_category': "['Eyes Beauty']"}, {'product_id': 'SHIPPING_LOCAL', 'product_name': 'Product Not Found', 'product_category': '[]'})
2024-07-18 15:57:05,773 INFO sqlalchemy.engine.Engine COMMIT
Data inserted successfully.